body{
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100hv;
    align-items: center;
    font-family:sans-serif;
    text-align: center;
    position: relative;
}

.table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #0047AB;
    text-decoration: underline;
}

table{
    margin:30px 10px 0 10px ;
}

th{
    border: 2px solid #0047AB;
    width: 150px;
    border-radius: 5px;
}


.total-price{
    font-size: 18px;
    font-weight: 600;
}

button{
    width: 50%;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease-in-out;
    transition: box-shadow 0.7s ease-in-out;
}
button:hover{
    background-color: #0047AB;
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

input{
    outline: none;
    font-size: 18px;
}

input[type = "number"]{
    text-align: center;
}

.security{
    position: absolute;
    background-color: #0047AB;
    width: 500px;
    border-radius: 10px;
    top: 150px;
}

.security #title{
    color: aliceblue;
    font-size: 25px;
    margin-top: 30px;
    text-decoration: none;
}

.security .security-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.security-inputs input{
    width: 85%;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0;
    padding-left:10px ;
}








@media (max-width:800px) {
    input{
        width: 95%;
        font-size: 18px;
    }

    button{
        width: 20%;
        font-size: 18px;
    }

    .security{
        width: 400px;
    }
}
